@using ChatDrugiPut.Shared
@using Microsoft.AspNetCore.SignalR.Client

	<div class="fleks">
		<div>
			<ul>
				@asd
				@foreach (string g in Grupe.Keys)
				{
					<li>
						@g -- @Grupe[g]
					</li>
				}
			</ul>
		</div>
		<div>
			<h3>ChatProzor</h3>
			<p>Ulogovan korisnik: @UlogovanKorisnik.Username</p>

			<p><input @bind-value="Tekst" /> <button @onclick="Posalji">Posalji</button></p>


			@foreach (Poruka poruka in Istorija)
			{ 
				if (poruka.Grupa == null)
					PorukaGrupa = "<global>";
				else
					PorukaGrupa = $"<{poruka.Grupa}>";

				@if (poruka.Posiljaoc == null)
				{
					<p><b>SERVER</b><i>@PorukaGrupa</i>: @poruka.Sadrzaj</p>
				} else if (poruka.Posiljaoc.Equals(UlogovanKorisnik))
				{
					<p>Ja<i>@PorukaGrupa</i>: @poruka.Sadrzaj</p>
				} else
				{
					<p>@poruka.Posiljaoc.Username<i>@PorukaGrupa</i>: @poruka.Sadrzaj</p>
				}
			}
		</div>
	</div>
@code 
{
	public string PorukaGrupa { get; set; }
	[Parameter]
	public User UlogovanKorisnik { get; set; }

	[Parameter]
	public HubConnection cHub { get; set; }

	public string Tekst { get; set; }

	List<Poruka> Istorija = new List<Poruka>();
	Dictionary<string, int> Grupe = new Dictionary<string, int>();


	private string asd { get; set; }

	protected override async Task OnInitializedAsync()
	{
		cHub.On<Poruka>("PorukaKaKlijentu", p =>
		{
			Istorija.Add(p);
			StateHasChanged();
		});

		cHub.On<List<string>, List<int>>("EvoGrupe", (g, k) =>
		{
			Grupe.Clear();
			for (int i = 0; i < g.Count; i++)
			{
				Grupe.Add(g[i], k[i]);
			}
			StateHasChanged();
		});

		cHub.On<string, int>("OsveziGrupu", (g, k) =>
		{
			if (Grupe.ContainsKey(g))
			{
				Grupe[g] = k;
			} else
			{
				Grupe.Add(g, k);
			}

			StateHasChanged();
		});

		await cHub.SendAsync("DobaviGrupe", UlogovanKorisnik);

	}




	public async Task Posalji()
	{
		Poruka p = new Poruka(Tekst, UlogovanKorisnik, null);
		Tekst = "";
		if (p.Sadrzaj.StartsWith("/"))
		{
			if (p.Sadrzaj.Split(' ')[0] == "/join")
			{
				p.Sadrzaj = p.Sadrzaj.Split(' ')[1];
				await cHub.SendAsync("Join", p);
			} else if (p.Sadrzaj.Split(' ')[0] == "/leave")
			{
				p.Sadrzaj = p.Sadrzaj.Split(' ')[1];
				await cHub.SendAsync("Leave", p);
			} else
			{
				p.Grupa = p.Sadrzaj.Split(' ')[0].Remove(0, 1);
				p.Sadrzaj = p.Sadrzaj.Remove(0,p.Sadrzaj.Split(' ')[0].Length + 1);
				await cHub.SendAsync("PrimiPoruku", p);
			}

			return;
		}
		await cHub.SendAsync("PrimiPoruku", p);
	}

}
