@using ChatDrugiPut.Shared
@using Microsoft.AspNetCore.SignalR.Client

	<div class="fleks">
		<div>
			<ul>
				@if(UlogovanKorisnik.AktivneGrupe == null)
				{
					<li>NUUUUUUULLLLL</li>
				}
			</ul>
		</div>
		<div>
			<h3>ChatProzor</h3>
			<p>Ulogovan korisnik: @UlogovanKorisnik.Username</p>

			<p><input @bind-value="Tekst" /> <button @onclick="Posalji">Posalji</button></p>


			@foreach (Poruka poruka in Istorija)
			{ 
				if (poruka.Grupa == null)
					PorukaGrupa = "<global>";
				else
					PorukaGrupa = $"<{poruka.Grupa}>";

				@if (poruka.Posiljaoc == null)
				{
					<p><b>SERVER</b><i>@PorukaGrupa</i>: @poruka.Sadrzaj</p>
				} else if (poruka.Posiljaoc.Equals(UlogovanKorisnik))
				{
					<p>Ja<i>@PorukaGrupa</i>: @poruka.Sadrzaj</p>
				} else
				{
					<p>@poruka.Posiljaoc.Username<i>@PorukaGrupa</i>: @poruka.Sadrzaj</p>
				}
			}
		</div>
	</div>
@code 
{
	public string PorukaGrupa { get; set; }
	[Parameter]
	public User UlogovanKorisnik { get; set; }

	[Parameter]
	public HubConnection cHub { get; set; }

	public string Tekst { get; set; }

	List<Poruka> Istorija = new List<Poruka>();

	protected override async Task OnInitializedAsync()
	{
		cHub.On<Poruka>("PorukaKaKlijentu", p =>
		{
			Istorija.Add(p);
			StateHasChanged();
		});

	}

	public async Task Posalji()
	{
		Poruka p = new Poruka(Tekst, UlogovanKorisnik, null);
		Tekst = "";
		if (p.Sadrzaj.StartsWith("/"))
		{
			if (p.Sadrzaj.Split(' ')[0] == "/join")
			{
				p.Sadrzaj = p.Sadrzaj.Split(' ')[1];
				await cHub.SendAsync("Join", p);
			} else
			{
				p.Grupa = p.Sadrzaj.Split(' ')[0].Remove(0, 1);
				p.Sadrzaj = p.Sadrzaj.Remove(0,p.Sadrzaj.Split(' ')[0].Length + 1);
				await cHub.SendAsync("PrimiPoruku", p);
			}

			return;
		}
		await cHub.SendAsync("PrimiPoruku", p);
	}

}
